#jobWrapper{
    width: 100%;
    height: 100%;
    color:#333333;
}

.jobPostDiv{
    width: 89%;
    /* background-color: #efefef; */
    background-color: #67626270;
    margin-left: auto;
    margin-right: AUTO;
    margin-top: 2%;
    height: 48%;
    border-radius: 5px;
    color:#ffffff;
    border:1px solid rgb(223, 223, 223);
}

.jobLeft{
    width: 25%;
    height: 100%;
    /* background-color: rgb(223, 223, 223); */
    float: left;
    text-align: center;
    border-right: 1px solid rgb(223, 223, 223);
}

.employerlogoDiv{
    width: 84%;
    height: 88%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(58 55 55 / 35%);
    margin-top: 5%;
    border-radius: 5px;
    border: 1px solid #c7c0c0;
}

.employerLogo{
    float: left;
    width: 68%;
    height: 76%;
    margin-left: 16%;
    margin-top: 6%;
}

.employerName{
    float: left;
    text-align: center;
    margin-top: 2%;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}

.jobRight{
    width: 75%;
    height: 100%;
    float: left;
    border-radius: 5px;
}

.jobRightTop{
    width: 100%;
    height: 85%;
}
.jobRightBottom{
    width: 100%;
    height: 15%;
    background-color: rgb(177 172 172 / 22%);
}

.jobTitle{
    width: 70%;
    font-weight: bold;
    font-size: 21px;
    padding-left: 2%;
    float: left;
}

.jobDescription{
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    font-size: 16px;
}

.jobAtributes{
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 14px;
    margin-top: 0.5%;
}

.jobAttribute{
    font-weight: bold;
    
}

.topAttribute{
    margin-top: 1%;
}


/* job posts */

#createJobsWrapper{
    width: 100%;
    height: 100%;
    background-image: url('../../img/bgOfficeBlur.jpg');
    /* background-image: url('../../img/bgWork.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    float: left;
}

#createJobsDiv{
    width: 60%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffffff;
    background-color: #00000052;
    border-radius: 9px;
    margin-top: 3%;
}

#createJobsDiv h2{
    margin-left: auto;
    margin-right: auto;
    color:#ffffff; 
    text-align: center;
    font-size: 25px;
    margin-top: 2%;;
}

#createJobDiv input{
    width: 41%;
    height: 3vw;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 2%;
    color: #383535;
    border: none;
    margin: 3% 3% 3% 5%;
    font-size: 1.1vw;
    background-color: #e6e2e2;
    float: left;
}

.jobFormRow span{
    color: #ffffff;
    margin-right: 1%;
    float: left;
}

.jobFormRow{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 14%;
    /* display: list-item; */
}

.jobRowSingle{
    width: 100%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

.jobRowDouble{
    width: 49%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

#jobDescription{
    width: 83%;
}

.jobToOpen{
    cursor: pointer;
}

/* Apply jobs */

#applyJobWrapper{
    width: 100%;
    height: 100%;
    background-image: url('../../img/bgOfficeBlur.jpg');
    /* background-image: url('../../img/bgWork.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    float: left;
    color: #ffffff;
    position: relative;
}

#applyFormArea {
    width: 35%;
    min-width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffffff;
    background-color: #00000052;
    border-radius: 9px;
    margin-top: 3%;
}

#jobApplyForm{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

#applyJobTitile{
    text-align: center;
}

.actionBtns{
    text-align: center;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}