#jobWrapper{
    width: 100%;
    height: 100%;
    color:#333333;
}

.jobPostDiv{
    width: 89%;
    /* background-color: #efefef; */
    background-color: #67626270;
    margin-left: auto;
    margin-right: AUTO;
    margin-top: 2%;
    height: 48%;
    border-radius: 5px;
    color:#ffffff;
    border:1px solid rgb(223, 223, 223);
}

.jobLeft{
    width: 25%;
    height: 100%;
    /* background-color: rgb(223, 223, 223); */
    float: left;
    text-align: center;
    border-right: 1px solid rgb(223, 223, 223);
}

.employerlogoDiv{
    width: 84%;
    height: 88%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(58 55 55 / 35%);
    margin-top: 5%;
    border-radius: 5px;
    border: 1px solid #c7c0c0;
}

.employerLogo{
    float: left;
    width: 68%;
    height: 76%;
    margin-left: 16%;
    margin-top: 6%;
}

.employerName{
    float: left;
    text-align: center;
    margin-top: 2%;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}

.jobRight{
    width: 75%;
    height: 100%;
    float: left;
    border-radius: 5px;
}

.jobRightTop{
    width: 100%;
    height: 85%;
}
.jobRightBottom{
    width: 100%;
    height: 15%;
    background-color: rgb(177 172 172 / 22%);
}

.jobTitle{
    width: 70%;
    font-weight: bold;
    font-size: 21px;
    padding-left: 2%;
    float: left;
}

#jobPosition{
    width: 78%;
}


.jobDescription{
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    font-size: 16px;
}

.jobAtributes{
    float: left;
    margin-left: 8px;
    margin-right: 12px;
    font-size: 12px;
    margin-top: 0.5%;
}

.jobAttribute{
    font-weight: bold;
    
}

.topAttribute{
    margin-top: 1%;
}

.jobDropDowns{
    width: 160px;
    height: 29px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin-right: 2%;
    font-size: 16px;
   
}

.jobItems{
    margin-bottom: 15px;
}


/* job posts */

#createJobsWrapper{
    width: 100%;
    height: 100%;
    background-image: url('../../img/bgOfficeBlur.jpg');
    /* background-image: url('../../img/bgWork.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    float: left;
    overflow-y: scroll;
}

#createJobsDiv{
    width: 60%;
    height: 35rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffffff;
    background-color: #00000052;
    border-radius: 9px;
    margin-top: 3%;
}

#createJobsDiv h2{
    margin-left: auto;
    margin-right: auto;
    color:#ffffff; 
    text-align: center;
    font-size: 25px;
    margin-top: 2%;;
}

#createJobDiv input{
    width: 41%;
    height: 3vw;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 2%;
    color: #383535;
    border: none;
    margin: 3% 3% 3% 5%;
    font-size: 1.1vw;
    background-color: #e6e2e2;
    float: left;
}

.jobFormRow span{
    color: #ffffff;
    margin-right: 1%;
    float: left;
}

.jobFormRow{
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: list-item; */
}

.jobFormRowBtns{
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    
}

.jobFormRowBtns button{
    margin-right: 12%; 
    margin-top: 2%;
    width: 100px;
    padding: 0.5%;
    border-radius: 7px;
    background: #42a1ce45;
    color: #ffffff;
    /* margin-left: 17px; */
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
}

.jobFormRowBtns button:hover{
    background-color: #42a1cebf;
}

.jobRowSingle{
    width: 100%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

.jobRowDouble{
    width: 49%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

#jobDescription{
    width: 83%;
    
}

.jobDesc{
    height: 115px;
}

.jobToOpen{
    cursor: pointer;
}

/* Apply jobs */

#applyJobWrapper{
    width: 100%;
    height: 100%;
    background-image: url('../../img/bgOfficeBlur.jpg');
    /* background-image: url('../../img/bgWork.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    float: left;
    color: #ffffff;
    position: relative;
}

#applyFormArea {
    width: 35%;
    min-width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffffff;
    background-color: #00000052;
    border-radius: 9px;
    margin-top: 3%;
}

#jobApplyForm{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

#applyJobTitile{
    text-align: center;
}

.actionBtns{
    text-align: center;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

/* created Job posts */

.heading{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    color: #fff;
}

.noOfJobs{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
}

.createdJobDiv{
    width: 92%;
    height: 30vw;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-y: scroll;
    border: 1px solid #fff;
    background-color: #00000052;
}

.jobDiv{
    width: 89%;
    /* background-color: #efefef; */
    background-color: #67626270;
    margin-left: auto;
    margin-right: AUTO;
    margin-top: 2%;
    height: auto;
    border-radius: 5px;
    color: #ffffff;
    border: 2px solid rgb(223, 223, 223);
    margin-bottom: 2%;
}

.job_title{
    width: 86%;
    margin: 2%;
    font-size: 20px;
    font-weight: 600;
    float: left;
}

.job_Description{
    width: 94%;
    margin: 2%;
    font-size: 16px;
}

.jobInfo{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    height: 100%;
   
}

.jobInfoCol{
    width: 50%;
    border: 1px solid #fff;
    float: left;
}

.jobInfoCol div{
    padding-top: 2%;
}

.editJobPost{
    float: left;
    width: 22px;
    margin: 2% 1% 0 0;
    cursor: pointer;
}

.deleteJobPost{
    float: left;
    width: 22px;
    margin: 2% 1% 0 0;
    cursor: pointer;
}

.jobButtons{
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 2%;
}

.jobMainActionBtn{
    width: 55%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 9px;
    color: #fff;
    background: #42a1ce45;
    border: 1px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jobMainActionBtn:hover{
    background-color: #42a1cebf;
}

.bookmarkJobPost{
    width: 75px;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    border-radius: 9px;
    box-shadow: none;
    border: 1px solid;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 2%;
    margin-right: 2px;
}

.bookmarkJobPost:hover{
    background-color: #42a1cebf;
}

/*applied jobs */

.appliedJobs{
    width: 75%;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-y: scroll;
    border: 1px solid #fff;
    background-color: #00000052;
    height:54vh
}

.appliedJobsCol1{
    width: 60%;
    float: left;
    height: 100%;
    border-right: 1px solid #fff;
}

.appliedJobsCol2{
    width: 40%;
    float: left;
    height: 100%;
}

.colItem{
    width: 33% !important;;
    float: left;
    height: 100%;
}

.title{
    font-size: 21px;
    text-align: center;
}

.jobMsg{
    font-size: 14px;
    text-align: center;
}

.jobCompany{
    font-size: 14px;
     text-align: center;
}

.jobStatItems{
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    font-size: 17px;

}

.JobAppliedBtns{
    width: 82px;
    margin-left: 3%;
    margin-right: 3%;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 9px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    padding: 3px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.appliedJobDiv{
    width: 80%;
    /* background-color: #efefef; */
    background-color: #67626270;
    margin-left: auto;
    margin-right: AUTO;
    margin-top: 2%;
    height: 50%;
    border-radius: 5px;
    color: #ffffff;
    border: 2px solid rgb(223, 223, 223);
    margin-bottom: 2%;
}

.appliedJobMainActionBtn{
    width: 32%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 9px;
    color: #fff;
    background: #42a1ce45;
    border: 1px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* job applications */

.user_title{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    float: left;
    text-align: center;
}

.applicant_email{
    width: 100%;
    margin-bottom: 2%;
    font-size: 16px;
    float: left;
    text-align: center;
}

.deleteApplication{
    float: left;
    width: 22px;
    /* margin: 2% 1% 0 0; */
    cursor: pointer;
}

#backToSearch{
    width: 12%;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 9px;
    color: #fff;
    background: #42a1ce45;
    border: 1px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

#backToSearch:hover {
    background-color: #42a1cebf;
}

.titleOfTheJob{
    width: 96%;
    float: left;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.applicationInfo{
    width: 93%;
    border: 1px solid #ffffff;
    float: left;
    margin-left: auto;
    margin-right: auto;
    height: 13vw;
    border-radius: 5px;
    
}

.applicatMsg{
    padding: 1%;
    height: 67%;
}

.applicationActionDiv{
    width: 46%;
    text-align: center;
}

.applicationActions{
    width: 13%;
    margin-top: 2%;
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    padding: 0.5%;
    background: #42a1ce45;
    color: #ffffff;
    margin-left: 2%;
    margin-right: 2%;
}

.jobApplicationResume{
    float: right;
    margin-right: 11px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 81px;
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    background: #42a1ce45;
    color: #ffffff;
    
}

/* offers */

#sendJobOffers{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    border: 1px solid;
    border-radius: 7px;
}

#jobToOfferTitile{
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#selectJobToOffer{
    width: 80%;
    padding: 6px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 23px;
}

.sendOfferButton{
    width: 90px;
    font-size: 15px;
    margin-top: 5%;
    margin-left: 30px;
    margin-bottom: 15px;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    padding: 1%;
}

#jobOffers{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 450px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 1px solid;
    border-radius: 6px;
    overflow-y: scroll;
}

.jobOffersDiv{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.jobTitile{
    font-size: 22px;
}

.jobDetails{
    font-size: 16px;
    margin-bottom: 5px;
}

.offerBtnsWrapper{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.offerBtns{
    width: 84px;
    margin-left: 3%;
    margin-right: 8%;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 9px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 0%;
}

#offerCloseBtn{
    width: 77px;
    margin-left: 0%;
    margin-right: 0%;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 9px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    padding: 2px;
    margin-top: 0%;
    margin-bottom: 2%;
}