#homeWrapper{
    width:100%;
    height:100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../img/bgOfficeBlur.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #00000052;
}

#homeHeader{
    width: 100%;
    height: 10%;
    float: left;
    background-color: #10232d59;
    color: #ffffff;
}

#homeArea{
    width: 100%;
    height: 90%;
    float: left;
    
}

#homeSelections{
    float: left;
    width: 25%;
    height: 100%;
    box-shadow: 0 6px 3px 1px #e8e3e3;
    background-color: #00000052;
    border: 1px solid #ffffff;
    padding-bottom: 2.2%;
}

#homeDisplay{
    float: left;
    width: 75%;
    height: 100%;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-bottom: 0;
    /* background-color: #00000052; */
}

#resultWrapperTop{
    float: left;
    width: 100%;
    height: 30%;
}

#homeDisplayTop{
    width:100%;
    height:30%;
}

.resultCount{
    float: right;
    margin-right: 2%;
    transform: translateY(84%);
}

.curruntDate{
    float: right;
    margin-left: 2%;
    -webkit-transform: translateY(60%);
    -ms-transform: translateY(60%);
    transform: translateY(84%);
    float: left;
}

#profileImg{
    width: 66%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-top: 12%;
    /* -webkit-box-shadow: 0px 0px 5px 0px rgba(46, 50, 50, 0.89);
    -moz-box-shadow:    0px 0px 5px 0px rgba(46, 50, 50, 0.89);
    box-shadow:         0px 0px 5px 0px rgba(46, 50, 50, 0.89); */
}

#IndustryTrendings{
    width: 76%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 13%;
    height: 100%;
}

#IndustryTrendings h2{
    color: #ffffff;
    font-size: 22px;
    text-align: center;
}

#IndustryTrendings p{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 2%;
    font-family: sans-serif;
    cursor: pointer;
    border: 1px solid #f7f3f3;
    padding: 2%;
    border-radius: 8px;
    color: #ffffff;
}

#IndustryTrendings p:hover{
    color:#1488a2
}

.userImgInHome{
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
    border: 1px solid #ffffff;
    border-radius: 7px;
    padding: 3% 3% 3% 3%;
}

#user_name{
    color:#ffffff;
    text-align: center; 
}

.actions{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 2%;
    font-family: sans-serif;
    cursor: pointer;
    border: 1px solid #b9afaf;
    padding: 2%;
    border-radius: 8px;
    color:#ffffff;
    font-size: 18px;
}

.actions:hover{
    color:#1488a2
}

.logoutLink:hover{
    color:#C80404 !important;
}

#searchCriteria{
    width:100%;
    height:69%;
    float: left;
    position: relative;
    box-shadow: 0 6px 5px -2px #e8e3e3;
}

.searchInput{
    font-size: 16px;
    padding: 10px 14px;
    background: #fffffffa;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 24%;
    float: left;
    margin: 3%;
    height: 20%;
}

::placeholder {
    color:#333333;
    opacity: 1;
}

.jobType{
    width: 13%;
    height: 3vw;
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin-top: 3%;
    margin-right: 2%;
    font-size: 16px;
    border-radius: 6px;
}

.industry{
    width: 25%;
    height: 3vw;
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin-top: 3%;
    margin-right: 2%;
    font-size: 16px;
    border-radius: 6px;
}

#searchJobsBtn{
    width: 13%;
    height: 3vw;
    background-color: #00b548;
    border: 1px solid #ffffff;
    margin-top: 3%;
    margin-right: 2%;
    font-size: 16px;
    border-radius: 6px;
    cursor:pointer;
    color:#ffffff;
}

#searchResultsWrapper{
    float: left;
    position: relative;
    width: 100%;
    height: 69%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

#searchresultsDiv{
    width: 95%;
    height: 27vw;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    overflow-y: scroll;
    margin-bottom: 2%;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #00000052;
}