.profileWrapper{
    width:100%;
    height: 100%;
}

.topPart{
    width: 100%;
    height: 30px;
    margin-bottom: 1%;
}
.bottomPart{
    width:100%;
    height: 90%;
}

.user, .title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.fullNameHeading{
    font-size: 15px;
}

.activities{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    border-bottom: 1px solid #fff;
}

.resumeIconDiv{
    width: 43px;
    margin-top: 10px;
    margin-bottom: 13px;
    cursor: pointer;
}

#resumeHolder{
    margin-top: 34px;
    margin-bottom: 30px;
}

.uploadiButtonProfile{
    width: 88px;
    margin-left: 15px;
    margin-top: 2%;
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    padding: 3px;
    background: #42a1ce45;
    color: #ffffff;
}

.updateCV{
    margin-top: 20px;
}

.uploadImg{
    margin-top: 16px;
}

.uploadiButtonProfile:hover{
    background-color: #42a1cebf;
}

.uploadInput{
    max-width: 208px;
    width: 208px;
}

.blocks{
    /* width: 20%; */
    float: left;
    /* margin: 3% 2% 2% 3%; */
}

.profileActions{
    width: 95%;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    margin-bottom: 5px;
    font-family: sans-serif;
    cursor: pointer;
    border: 1px solid #b9afaf;
    padding: 12px;
    border-radius: 8px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.actionButtons{
    width: 62%;
    margin-left: 3%;
    margin-right: 3%;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 9px;
    box-shadow: none;
    border: 1px solid;
    padding: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.actionButtons:hover{
    background-color: #42a1cebf;
}

.actionButtonsDisabled{
    width: 62%;
    margin-left: 3%;
    margin-right: 3%;
    background: #5f646645;
    color: #b3a9a9;
    font-size: 15px;
    border-radius: 9px;
    box-shadow: none;
    border: 1px solid #9b9090;
    padding: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.basicDetails{
    width: 70%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 8px;
    margin-bottom: 7px;
}

.editInput{
    margin-bottom: 0.7rem;
}

.profileMainActions{
    width: 33%;
    margin-top: 2%;
    border-radius: 7px;
    box-shadow: none;
    border: 1px solid;
    padding: 1%;
    background: #42a1ce45;
    color: #ffffff;
}

#location{
    margin-bottom: 0.7rem;
}

#industry{
    margin-bottom: 0.7rem; 
}
