#adminLoginWrapper{
    width:100%;
    height: 100%;
    position: relative;
    background-image: url('../../img/bgOfficeBlur.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-color: #00000052;
    float: left;
}

#adminLogin{
    width: 30%;
    height: 62%;
    background: #f8f9fb26;
    margin: 8% auto 0 auto !important;
    border: 1px solid #fff;
    border-radius: 7px;
}

#loginHeader {
    text-align: center;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 8%;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

#loginInputsDiv{
    width: 100%;
    text-align: center;
}

.loginInputs{
    width: 70%;
    height: 3vw;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 2%;
    color: #ffffff;
    border: none;
    margin-top: 4%;
    font-size: 1.1vw;
    background-color: #928c8c78;
    border:1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.loginInputs::placeholder{
    color: #ffffff;
}

#loginButtonDiv{
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

#loginButton{
    width: 70%;
    height: 3vw;
    border: none;
    border-radius: 6px;
    color: #eae1e1;
    font-size: 1.2vw;
    cursor: pointer;
    background-color:#00b548d9;
}

#exitButton{
    width: 70%;
    height: 3vw;
    border: none;
    border-radius: 6px;
    color: #eae1e1;
    font-size: 1.2vw;
    cursor: pointer;
    background-color: #af7006fa;
    margin-top: 3%;
}

#loginButton:hover{
    background-color: #00b5484f;
    border: 1px solid #eae1e1;
}

#exitButton:hover{
    background-color: #c37b0057;
    border: 1px solid #eae1e1;
}

#DashboardWrapper{
    width:100%;
    height: 100%;
    position: relative;
    background-image: url('../../img/bgOfficeBlur.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-color: #00000052;
    border: 1px solid #fff;
    overflow: hidden;
}

#dashboardTop{
    width:100%;
    height: 10%;
    position: relative;
    float:left;
    margin-left: auto !important;
    margin-right: auto !important;
}

.dashboardTopLeft{
    width: 90%;
    float: left;
}

#dashboardTopLeftTxt{
    margin-top: 1.5%;
    color: #fff;
    font-size: 19px;
    float: left;
}

#dashboardTopMiddleAdminName{
    margin-top: 1.5%;
    color: #fff;
    font-size: 19px;
    text-align: center;
}

.dashboardTopRight{
    width: 10%;
    float: left;
}

#dashboardLogout{
    margin: 14px 12px 8px 34px;
    border: 1px solid #ffffff;
    background-color: #3333335c;
    border-radius: 5px;
    color: #f1ecec;
    width: 57%;
}

#dashboardLogout:hover{
    color: #e64545;
    border: 1px solid #e64545;
}

#dashboardBottom{
    width:100%;
    height: 90%;
    position: relative;
    float:left;
    margin-left: auto !important;
    margin-right: auto !important;
}

.adminActionRows{
    width: 92%;
    float: left;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 2%;
}

.adminActions{
    width: 43%;
    /* height: 58%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    border-radius: 9px;
    text-align: center;
    border:1px solid #fff;
    cursor:pointer;
    padding: 10px;
    color: #fff;
    background-color: #016aa436;
}

.adminActions:hover{
    background-color: #00b54857
}

.adminActionTxt{
    padding: 18% 10% 8% 10%;
    font-size: 20px;
}

/* overlay */

Row{
    margin-right: auto; 
    margin-left: auto;
}

.overlayWrapper{
    width:100%;
    height:100%;
    overflow-x: hidden;
}

#overlayWrapper{
    width:100%;
    height:100%;
    overflow-x: hidden;
}

.overlay{
    width:100%;
    height:100%;
}

#overlay{
    width:100%;
    height:100%;
    margin-right: auto !important; 
    margin-left: auto !important;
}

/* ManageUsers */
#mangeUsersMain{
    width: 100%;
    height: 100%;
}

#manageUsersWrapper{
    width: 95%;
    height: 100%;
    /* background-color: #e64545; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    
}

.titile{
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    float: left;
    width: 97%;;
    
}

.manageUsersBody{
    width: 93%;
    height: 38vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffffff;
}

.sides{
    height:100%;
    float: left;
}

.leftSide{
    border-right: 1px solid #fff;
}

#closeIcon{
    width:2.5%;
    float:left;
    cursor: pointer;
}

#resultDiv{
    width:98%;
    height: 83%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    overflow-y: scroll;
    margin-bottom: 2%;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    background-color: #00000052
}

.resultCount{
    margin-bottom: 6%;
    margin-right: 5%;
    color: #ffffff;
    /* float: right; */
}

.resultItem{
    width: 95%;
    height: 30%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    background-color: #a09a9a2e
}

.itemPart{
    float: left;
    height: 100%;
    text-align: center;
    color:#ffffff
}

.borderLeft{
    border-right: 1px solid #ffffff;
}

.name_user{
    font-size: 22px;
    margin-bottom: 1px;
    max-width: 99%;
    text-align: center;
    margin-top: 3%;
}

.email_user{
    font-size:14px
}

.userActionsBtns{
    width: 96%;
    margin-top: 19%;
    margin-bottom: 1%;
    box-shadow: none;
    border: 1px solid;
    border-radius: 7px;;
    padding: 1%;
    background: #42a1ce45;
    color: #ffffff;
}

.userActionsBtns:hover{
    background-color: #42a1cebf
}

.imageWrapper{
    width: 100%;
    height: 85%;
    margin-top: 7%;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

.imageWrapper img{
    width:100%;
    height: 100%;
}

.searchFilters{
    width:100%;
    height:100%;
    text-align: center;
}

.searchFilters Col{
    text-align: center;
}

.filterHeading{
    margin-top: 5%;
    color: #ffffff;
    font-size: 21px;
    text-align: center;
    text-decoration: underline;
}

.filterItems{
    margin-bottom: 5%;
    margin-top: 5%;
}

.filterInput {
    width: 93%;
    border-radius: 8px;
    box-shadow: none;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    padding: 5px 11px;
    background: #fffffffa;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.itemSelections{
    width:85%;
    height: 100%;
    padding: 4%;
    border-radius: 6px;
    border: 1px solid #ffffff;
}

.singleSelection{
    padding: 2%;
    width: 60%;
}

.filterSearchBtn{
    width: 33%;
    margin-top: 10%;
    margin-bottom: 1%;
    box-shadow: none;
    border: 1px solid;
    border-radius: 7px;;
    padding: 1%;
    background: #42a1ce45;
    color: #ffffff;
}

.filterSearchBtn:hover{
    background-color: #42a1cebf
}

.overLapMainDiv{
    width:100%;
    height:100%;
}

.filterSemiHeading{
    color:#ffffff;
}

/* Manage Jobs */

.jobFilterPanel{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ffffff;
    margin-left: auto !important;
    margin-right: auto !important;
}

.j_filters {
    width: 100%;
    padding: 4%;
    border-radius: 7px;
    margin-top: 5%;
    margin-right: 3%;
    min-width: 80%;
}

.jobFilterSearchBtn{
    width: 50%;
    margin-top: 6%;
    margin-bottom: 1%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    border-radius: 7px;
    padding: 2%;
    background: #42a1ce45;
    color: #ffffff;
}

#jobResultDiv{
    width:98%;
    height: 25vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    overflow-y: scroll;
    margin-bottom: 2%;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    background-color: #00000052
}

.latestJobs{
    width:98%;
    height: 26.5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    overflow-y: scroll;
    margin-bottom: 2%;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    background-color: #00000052
}


/* Admin Profile */

#adminProfile{
    width: 100%;
    height: 98vh;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5%;
}

#adminProfileWrapper{
    width: 80%;
    height: 77%;
    border: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
}

#profileImgDiv{
    width:40%;
    height:100%;
    float: left;
}

#profileDetailDiv{
    width:60%;
    height:100%;
    float: left;
    margin-bottom: 4%;
    border: 1px solid #ffffff;
}

#adminImg{
    border: 1px solid #ffffff;
    width: 215px;
    height: 52%;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d0cece;
}

#adminImg img{
    width:100%;
    height: 100%;
}

#adminProfileHeading{
    font-size: 26px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

#adminProfileFields{
    width: 100%;
    height: 50%;
    font-size: 17px;
    margin-top: 47px;
    text-align: center;
}

#adminProfileBtnWrapper{
    width: 100%;
    height: 20%;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    border-top: 1px solid #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.adminprofileButton{
    width: 16%;
    padding: 4px;
    margin-left: 10px;
    margin-right: 35px;
    margin-top: 15px;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
}

.adminprofileButton:hover{
    background-color: #42a1cebf;
}

.closeProfile:hover{
    background-color: #b1171740;
}

.profileDetailItem{
    width: 95%;
    height: auto;
    display: inline-flex;
    color: #ffffff;
    margin-left: 55px;
}

.profileDetailItem input{
    width: 49%;
    height: 25px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #333333;
    margin-left: 5px;
    padding-left: 5px;
    margin-bottom: 16px;
}

.profileDetailItem p{
    padding-left: 5%;
}
.profileDetailItem label{
    min-width: 130px;
}

#profileImgUploaderDiv{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 16px;
    color: #ffffff;
}

#profileImgUploaderDiv input{
  
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    max-width: 100%;
}

#adminProfileImgUpload{
    margin-top: 16px;
    width: 80%;
    padding: 4px;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
}

#adminProfileImgUpload:hover{
    background: #28a74685;
}

.adminprofileButtonDisabled{
    background: #5f646645;
    color: #b3a9a9;
    border: 1px solid #9b9090;
    width: 16%;
    padding: 4px;
    margin-left: 10px;
    margin-right: 35px;
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
}


/* Manage Admin */

#manageAdminWrapper{
    width: 95%;
    height: 35vw;
    border: 1px solid #ffff;
    margin-top: 7%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.manageAdminSides{
    width:100%;
    height: 100%;
    text-align: center;
}

.leftSide{
    border-right:1px solid #ffffff;
}

.adminHeading{
    font-size: 25px;
    margin-top: 5%;
    color: #ffffff;
    margin-bottom: 2%;
}

.subHeading{
    font-size: 15px;
    color: #ece5e5d9;
    width:95%;
    margin-bottom: 2rem;
}

#fieldWrapper{
    width: 100%;
    height: 80%;
}

.createAdminInputs{
    width: 80%;
    padding: 5px;
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid #ffffff;
    margin-bottom: 4%;
}

#inviteButtonWrapper{
    width : 100%;
    height:10%;
    margin-top:5%;
    margin-bottom: 5%;
}

#inviteButton{
    width: 35%;
    margin-left: 3%;
    margin-right: 3%;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 9px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    padding: 1%;
    margin-bottom: 2%;
}

#inviteButton:hover {
    background-color: #42a1cebf;
}

#adminList{
    width:100%;
    height: 60%;
    border: 1px solid #ffffff;
    border-radius: 6px;
    overflow-y: scroll;
    background-color: #00000052;
}

.adminListItem{
    width: 90%;
    height: 37%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffffff;
    margin-top: 3%;
    background-color: #67626270;
}

.adminItemBlock{
    width: 70%;
    height: 100%;
    float: left;
    text-align: center;
    color: #ffffff;
}

.adminName{
    font-size: 23px;
    margin-top: 4%;
    margin-bottom: 0;
}

.adminListItemRight{
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
}

.adminEmail{
    font-size: 15px;
    color: #e7e4e4d0;
    margin-bottom: 0;
}

.adminType{
    font-size: 13px;
    color: #e7e4e4d0;
}

.removeAdmin{
    width: 85%;
    height: 39%;
    margin-top: 23%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background: #42a1ce45;
    color: #ffffff;
}

.removeAdmin:hover{
    background: #b1171740;
}

#closeManageAdmin{
    float:right;
    padding-top:2%;
    width:2.5%;
}


/* Complete registration */

#regCompleteAdminWrapper{
    width:100%;
    height:100%;
    position: relative;
    background-image: url('../../img/bgOfficeBlur.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-color: #00000052;
    float: left;
    overflow-y: hidden;
}

#regCompleteAdminDiv{
    width: 45%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    border: 1px solid #ffffff;
    border-radius: 13px;
}

#regCompleteHeader{
    color: #ffffff;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#regCompleteSubHeader{
    font-size: 16px;
    color: #ffffffa9;
    margin-top:5px;
    margin-bottom: 50px;
}

.adminRegField{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.adminRegField input {
    width: 60%;
    padding: 3px;
    background-color: #e2d9d954;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 7px;
}

.adminRegField input::placeholder{
    color: #ffffffe6;
}

#submitData{
    width: auto;
    padding: 6px 25px;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 9px;
    box-shadow: none;
    border: 1px solid;
}

.adminRegComBtn{
    margin-top: 30px;
}