#testsWrapper{
    width: 100%;
    height: 100%;
    color:#333333;
}

.testsDiv{
    width: 85%;
    height: 62vh;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 1px solid #fff;
    overflow-y: scroll;
    margin-top: 3%;
    background-color: #00000052;
}

.testsItem{
    width: 95%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #d0cccc1c;
}

.testCol1{
    width:65%;
    height:auto;
    border-right:1px solid #fff;
    float: left;
    position: relative;
    color: #fff;
}

.testCol2{
    width:30%;
    height:auto;
    float: left;
    position: relative;
    color: #fff;
}

.col2Items{
    width:100%;
}

.testName{
    font-size: 23px;
    font-weight: 600;
}

.testStats{
    width: 100%;
    display: inline-flex;
    font-size: 13px;
    background-color: #ffffff47;
    height: 14%;
    float: left;
}

.testStats p{
    margin-right: 4%;
    margin-left: 2%;
    float: left;
    font-weight: 600;
}

.testStats span{
    font-weight: normal;
}

.testActions{
    height: 18%;
    float: left;
    width: 100%;
    margin-top: 2%;
}

.testDetails{
    font-size: 15px;
    margin-top: 1%;
}

.testDetails p{
    font-weight: 600;
}

.testDetails span{
    font-weight: normal;
}

.actionIcons{
    width: 4%;
    margin-left: 1%;
    margin-right: 1%;
    float:right
}

.testsButtons{
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

.testActionBtns{
    width: 55%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 9px;
    color: #fff;
    background: #42a1ce45;
    border: 1px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.testActionBtns:hover{
    background-color: #42a1cebf;
}

/* Skill Tests */


#skillTestsWrapper{
    width: 100%;
    height: 100%;
    color:#333333;
}

.TestHeading{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    color: #fff;
}

.testCounts{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
}

.TestsMainWrapper{
    width: 78%;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-y: scroll;
    border: 1px solid #fff;
    background-color: #00000052;
    height: 64vh;
}

.recivedTestDiv{
    width: 80%;
    /* background-color: #efefef; */
    background-color: #67626270;
    margin-left: auto;
    margin-right: AUTO;
    margin-top: 2%;
    height: 45%;
    border-radius: 5px;
    color: #ffffff;
    border: 2px solid rgb(223, 223, 223);
    margin-bottom: 2%;
    text-align: center;
}

.TestsDisplyDiv{
    width: 92%;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 1px solid #fff;
    background-color: #00000052;
    height:55vh;
}

#resultWrapper{
    border-right: 1px solid #fff;
    height:100%;
    color: #fff;
    float: left;
    width: 100%;
}

#latestsWrapper{
    height:100%;
    color: #fff;
}

.colHeadings{
    text-align: center;
    margin-top: 2%;
    font-size: 18px;
    text-decoration: underline;
    font-weight: 600;
}

.testResultSingle{
    width: 95%;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 1px solid #fff;
    border-radius: 6px;
    height: 20%;
    margin-top: 2%;
}

.testResultsWrapper{
    width: 95%;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 81%;
    overflow-y: scroll;
    border: 1px solid #fff;
    border-radius: 6px;
    margin-bottom: 2%;
}

.testResTop{
    width:100%;
    float: left;
    position: relative;
}

.skillTestName{
    font-size: 22px;
    margin: 1% 0 0 6%;
    text-align: center;
}

.testDesc{
    font-size: 14px;
    float: left;
    text-align: center;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;font-size: 14px;
    
}

.testActions{
    width: 17%;
    font-size: 12px;
    margin: 2% auto 2% auto;
    height: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 9px;
    color: #fff;
    background: #42a1ce45;
    border: 1px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.testActions:hover{
    background-color: #42a1cebf;
}

.testResLeft{
    width: 100% !important;
    float: left;
    border-right: 1px solid #fff !important;
    height: 100% !important;
}

.testResBottom{
    width: 100% !important;
    float: left;
    position: relative;
    font-size: 11px;
}

