#testsWrapper{
    width: 100%;
    height: 100%;
    color:#333333;
    color: #fff
}

.testsDiv{
    width: 85%;
    height: 62vh;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 1px solid #fff;
    overflow-y: scroll;
    margin-top: 3%;
    background-color: #00000052;
}

.testsItem{
    width: 95%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #d0cccc1c;
}

.testCol1{
    width:65%;
    height:auto;
    border-right:1px solid #fff;
    float: left;
    position: relative;
    color: #fff;
}

.testCol2{
    width:30%;
    height:auto;
    float: left;
    position: relative;
    color: #fff;
}

.col2Items{
    width:100%;
}

.testName{
    font-size: 23px;
    font-weight: 600;
}

.testStats{
    width: 100%;
    display: inline-flex;
    font-size: 13px;
    background-color: #ffffff47;
    height: 14%;
    float: left;
}

.testStats p{
    margin-right: 4%;
    margin-left: 2%;
    float: left;
    font-weight: 600;
}

.testStats span{
    font-weight: normal;
}

.testActions{
    height: 18%;
    float: left;
    width: 100%;
    margin-top: 2%;
}

.testDetails{
    font-size: 15px;
    margin-top: 1%;
}

.testDetails p{
    font-weight: 600;
}

.testDetails span{
    font-weight: normal;
}

.actionIcons{
    width: 4%;
    margin-left: 1%;
    margin-right: 1%;
    float:right
}

.testsButtons{
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

.testActionBtns{
    width: 120px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 9px;
    color: #fff;
    background: #42a1ce45;
    border: 1px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.testActionBtns:hover{
    background-color: #42a1cebf;
}

/* Skill Tests */


#skillTestsWrapper{
    width: 100%;
    height: 100%;
    color:#333333;
}

.TestHeading{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    color: #fff;
}

.testCounts{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
}

.TestsMainWrapper{
    width: 78%;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-y: scroll;
    border: 1px solid #fff;
    background-color: #00000052;
    height: 64vh;
}

.recivedTestDiv{
    width: 80%;
    /* background-color: #efefef; */
    background-color: #67626270;
    margin-left: auto;
    margin-right: AUTO;
    margin-top: 2%;
    height: 45%;
    border-radius: 5px;
    color: #ffffff;
    border: 2px solid rgb(223, 223, 223);
    margin-bottom: 2%;
    text-align: center;
}

.TestsDisplyDiv{
    width: 92%;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 1px solid #fff;
    background-color: #00000052;
    height:55vh;
}

#resultWrapper{
    border-right: 1px solid #fff;
    height:100%;
    color: #fff;
    float: left;
    width: 100%;
}

#latestsWrapper{
    height:100%;
    color: #fff;
}

.colHeadings{
    text-align: center;
    margin-top: 2%;
    font-size: 18px;
    text-decoration: underline;
    font-weight: 600;
}

.testResultSingle{
    width: 95%;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 1px solid #fff;
    border-radius: 6px;
    height: 20%;
    margin-top: 2%;
}

.testResultsWrapper{
    width: 95%;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 81%;
    overflow-y: scroll;
    border: 1px solid #fff;
    border-radius: 6px;
    margin-bottom: 2%;
}

.testResTop{
    width:100%;
    float: left;
    position: relative;
}

.skillTestName{
    font-size: 22px;
    margin: 1% 0 0 6%;
    text-align: center;
}

.testDesc{
    font-size: 14px;
    float: left;
    text-align: center;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;font-size: 14px;
    
}

.testActions{
    width: 17%;
    font-size: 12px;
    margin: 2% auto 2% auto;
    height: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 9px;
    color: #fff;
    background: #42a1ce45;
    border: 1px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.testActions:hover{
    background-color: #42a1cebf;
}

.testResLeft{
    width: 100% !important;
    float: left;
    border-right: 1px solid #fff !important;
    height: 100% !important;
}

.testResBottom{
    width: 100% !important;
    float: left;
    position: relative;
    font-size: 11px;
}

/* create Test */

#createTestsWrapper{
    width: 100%;
    height: 100%;
}

#createTest{
    width: 70%;
    height: 40vw;
    margin-left: auto;
    margin-right: auto;
    background: #00000052;
    margin-top: 2%;
    border-radius: 8px;
    border: 1px solid #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.createTestHeading{
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

#testHeading{
    width:100%;
}

#testHeading h3{
    text-align: center;
    font-size: 26px;
    margin-top: 2%;
}

#testItemNameBlock{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%; 
}

#testRowNameInput{
    width: 89%;
    margin-left: 2%;
    margin-bottom: 1%;
    color: #333333;
    padding-left: 2%;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black; 
}

.testItemBlock{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.testRowQInput{
    width: 83%;
    margin-left: 2%;
    margin-bottom: 1%;
    color: #333333;
    padding-left: 2%;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
}

.testRowInput{
    width: 75%;
    margin-left: 2%;
    margin-bottom: 1%;
    float: left;
    color: #333333;
    padding-left: 2%;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
}

.correct{
    width: 16%;
    margin-left: 2%;
    margin-bottom: 1%;
    float: left;
    color: #333333;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
}

input::placeholder {
    color: #333333;
  }

.TestDevider{
    background-color:#ffffff;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
} 

#buttonWrapper{
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

#createTestBtn{
    margin-left: auto;
    margin-right: auto;
    width: 19%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 9px;
    color: #fff;
    background: #42a1ce45;
    border: 1px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* send tests */

#sendTestsWrapper{
    width: 64%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 8px;
}

#testSelectWrapper{
    width: 100%;
    height: 40px;
}

#testSelector{
    width: 50%;
    height: 30px;
    border-radius: 5px;
}

#testButtonWrapper{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#testSendHeading{
    margin-top: 35px;
    margin-bottom: 35px;
}

#testSendButton{
    width: 30%;
    font-size: 15px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    padding: 1%;
}

#testQuize{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    overflow-y: scroll;
}

.answers{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    border: 1px solid;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #00000052;
}

.selectedAnswer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    border: 1px solid;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #42a1cebf;
}

.react-quiz-container{
    background-color: #ffffff63;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.devider{
    width: 80%; 
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#testResultDiv{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 400px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    margin-top: 75px;
    margin-bottom: 50px;
    background-color: #00000052;
}

#testResultDivheading{
    margin-top: 35px;
    margin-bottom: 40px;
}

#resultOkBtn{
    width: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 3px;
    background: #42a1ce45;
}

#pass{
    color:#00b548;
    font-weight: bold;
}

#fail{
    color:#f10b0bb5;
    font-weight: bold;
}

#testQuizeDesc{
    padding:10px;
}

#testQuizeHeading{
    margin-top: 10px;
    margin-bottom: 5px;
}

.answersLabel{
    font-size: 17px;
    margin-left: 6px;
    cursor: pointer;
}

.testBtns{
    width: 90px;
    margin-left: 3%;
    margin-right: 4%;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.testBtnsDisabled {
    width: 90px;
    margin-left: 3%;
    margin-right: 4%;
    background: #5f646645;
    color: #b3a9a9;
    font-size: 15px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #9b9090;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* test resuts */

#testResultsWrapper{
    width: 64%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 8px;
}

#testResultWrapper{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 375px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ffffff;
}

.testResultItem{
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 6px;
}

.testItemHeading{
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.testItemContent{
    font-size: 15px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 5px;
}

.testItemClear{
    width: 70px;
    margin-left: 5%;
    margin-right: 5%;
    background: #42a1ce45;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    padding: 1%;
    margin-top: 5px;
    margin-bottom: 11px;
}
