#loginWrapper{
    width: 100%;
    height: 100%;
    background-image: url('../../img/bgWork.jpg');
    background-color: #00000052;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}


#loginDiv{
    width: 30%;
    height: 84%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 1px solid #cac8c8;
    margin-top: 52px;
    background-color: #00000052;
}

#loginTop{
    width: 100%;
    height: 65%;
    float: left;
}

#loginTopText{
    width: 100%;
    height: 30%;
}

#loginBottom{
    width: 100%;
    height: 35%;
    float: left;
}

#loginTop input {
    width: 65%;
    height: 3vw;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 2%;
    color: #ffffff;
    border: none;
    margin-top: 4%;
    font-size: 1.1vw;
    background-color: #928c8c78;
    border:1px solid #ffffff;
}

#loginTop input::placeholder{
    color: #ffffff;
}

#loginBottom button {
    width: 68%;
    height: 3vw;
    border: none;
    border-radius: 6px;
    color: #eae1e1;
    font-size: 1.2vw;
    cursor: pointer;
}

#regButton{
    background-color: #af7006fa;
}

#loginButton{
    background-color:#00b548d9;
}

#loginButton:hover{
    background-color: #00b5484f;
    border: 1px solid #eae1e1;
}

#regButton:hover{
    background-color: #c37b0057;
    border: 1px solid #eae1e1;
}

.loginGreeting{

    line-height: 1.5vw;
    width: 93%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#loginGreetingMain{
    font-size: 2vw;
    margin-top: 9%;
    color: #ffffff;
}

#loginGreetingSub{
    font-size: 1.2vw;
    margin-top: 4%;
    margin-bottom: 3%;
    color: #eae1e1;
}

#regRequester{
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    color: #f7e6e6;
    font-size: 1vw;
}