
#regWrapper{
    width: 100%;
    height: 100%;
    background-image: url('../../img/bgOfficeBlur.jpg');
    /* background-image: url('../../img/bgWork.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    float: left;

}


#regDiv{
    width: 57%;
    height: 77%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffffff;
    background-color: #00000052;
    border-radius: 9px;
    margin-top: 5%;
}

#regDiv h2{
    margin-left: auto;
    margin-right: auto;
    color:#ffffff; 
    text-align: center;
    font-size: 25px;
    margin-top: 2%;;
}

#regDiv input {
    width: 41%;
    height: 3vw;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 2%;
    color: #383535;
    border: none;
    margin: 3% 3% 3% 5%;
    font-size: 1.1vw;
    background-color: #e6e2e2;
    float: left;
}

#jobTitle{
    width: 83%;
}

#regDiv select{
    margin-top: 3%;
    margin-left: 5%;
    width: 41%;
    height: 3vw;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 2%;
    color: #383535;
    border: none;
    margin: 3% 3% 3% 5%;
    font-size: 1.1vw;
    background-color: #e6e2e2;
    float: left;
}

.regFormRow{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 14%;
    /* display: list-item; */
}

.regFormRow button{
    margin-top: 8%;
    padding-top: 3%;
}

#actions{
    float: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    cursor: pointer;
}

#regDiv input::placeholder {
    color:#333333;
    opacity: 1;
}

.btnAction1 {
    margin: 0% 4% 4% 24%;
    float: right;
    padding: 7px;
    background-color: #00b548d9;
    border-radius: 9px;
    border: 0;
    color:#ffffff
}

.btnAction2 {
    margin: 0% 16% 1% 4%;
    float: right;
    padding: 7px;
    background-color: #af7006fa;
    border-radius: 9px;
    border: 0;
    color:#ffffff
}

.btnAction1:hover {
    background-color: #00b5484f;
    border: 1px solid #eae1e1;
}

.btnAction2:hover {
    background-color: #c37b0057;
    border: 1px solid #eae1e1;
}

/* #registerWrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 80%;
    padding-top: 7%;
}

#regDiv{
    width: 59.5%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #cac8c8;
    float: left;
}

#regLeft{
    float: left;
    width: 40%;
    height: 100%;
}

#registerTop {
    width: 100%;
    height: 80%;
    float: left;
    margin-bottom: 5%;
}

#registerTop input, select {
    width: 65%;
    height: 2.1vw;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 2%;
    color: #848484;
    border: none;
    margin-top: 4%;
    font-size: 1.1vw;
    background-color: #e6e2e2;
}

.regGreeting{
    line-height: 1.5vw;
    width: 93%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#regGreetingMain{
    font-size: 2vw;
    margin-top: 9%;
    color: #ffffff;
}

#registerBottom{
    width: 100%;
    height: 20%;
    float: left;
}

#registerBottom button {
    width: 68%;
    height: 3vw;
    border: none;
    border-radius: 6px;
    color: #eae1e1;
    font-size: 1.2vw;
    cursor: pointer;
}

#registerButton{
    background-color: #00b548;
}

#regParentDiv{
    width: 70%;
    height: 35vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 1px solid #cac8c8;
}

#regLeftTop {
    position: relative;
    width: 100%;
    height: 5vw;
    margin-top: 17%;
    text-align: center;
    float: left;
}

#regLeftTop p {
    color:#ffffff;
    font-size: 1.7vw;

}

#regLeftTop span {
    font-size: 1.3vw;
    color: #eae1e1;
    line-height: 2.5vw;
}

#regLeftMiddle{
    float: left;
    width: 100%;
    margin-top: 2vw;
    height: 12vw;
}

#regLeftMiddle p{
    font-size: 1.1vw;
    color: #eae1e1;
    text-align: justify;
    padding: 2% 5% 2% 5%;
}

#regLeftBottom{
    float: left;
    width: 100%;
    position: relative;
    top: 4.8vw;
    height: 6vw;
}

#regLeftBottom p{
    padding-bottom: 1vw;
    color: #eae1e1;
    font-size: 1.2vw;
}

#regLeftBottom button {
    width: 52%;
    height: 2.5vw;
    border: none;
    border-radius: 6px;
    color: #eae1e1;
    font-size: 1.2vw;
    cursor: pointer;
    background-color: #c37b00;
}

#regUserType{
    width: 67%;
    padding-left: 1%;
} */